.Lorum-Text,.p, table, a {
    color: rgb(43, 226, 83);
    font-family: 'Pixelify Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: rgb(156, 90, 255);
    font-family: 'Pixelify Sans', sans-serif;
    text-decoration: underline;
}

body {
    background-color: black;
    background-image: url(giphy2.gif);
    height: 100%;
    background-attachment:fixed;
    background-position:center bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

p, text-box, Third, table, h1, h2, h3, h4{
    color: rgb(43, 226, 83);
}

img:hover{
    opacity: 0.4;
    transition: .5s ease;
}

div.gallery {
    margin: 4px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
    color: rgb(43, 226, 83);
    font-family: 'Pixelify Sans', sans-serif;
  }

  a:hover {
    color: rgb(164, 0, 82);
}