.Acount {
    position: absolute;
    right: 0px;
    bottom: 100%px;
    }

.Logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 33%;
}

.Searchbar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
