/* BACKGROUND ----------------------------------------------------------------------*/
body {
    background-color: rgb(24, 24, 24);
    overflow-x: hidden;
}

#myVideo {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    -o-filter: blur(5px);
    filter: blur(5px);
  }

  #myVideo2 {
    position: fixed;
    z-index: -2;
    -o-filter: blur(2px);
    filter: blur(2px);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    object-fit: cover;
  }

  /* LOGO --------------------------------------------------------------------------------*/
  .logoimg {
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
  }

/* TEXT BOXES ------------------------------------------------------------------------------------- */

  .textbox, .textbox2, .textbox3, .textbox4, .textbox5{
    position: absolute;
    /*left: 16%;*/
    background-color: rgba(71, 181, 40, 0.6);
    border-radius: 10px;
    z-index: 1;
    width: 70%;
    height: 50%;
    margin-left: auto; 
    margin-right: auto;
    padding: 10px;
    display: flex;
  }

  .textbox{
    top: 115%;
  }

  .textbox2{
    top: 175%;
  }

  .textbox3{
    top: 235%;
  }

  .textbox4{
    top: 295%;
  }

  .textbox5{
    top: 355%;
  }

  .p{
    display: block;
    overflow: hidden;
    max-height: 2.6em;
    line-height: 1.3em;
  }

/*   FLEX STUFF  ------------------------------------------------------------------------------------- */
  .flextext, .flexpage {
    display: flex;
    justify-content: center;
  }

  .pagesep {
    top: 96%;
    left: auto;
    right: auto;
    z-index: 0;
    margin-left: auto; 
    margin-right: auto;
    position: absolute;
    width: 100%;
  }

/* BUTTEN --------------------------------------------------------------------------------*/
  .buttenbox {
    position: absolute;
    width: 100%;
    max-width: 400px;
    height: auto;
    top: 90%;
    right: 20%;
    left: 80%;
  }

  .buttenimg{
    max-width: 400px;
    top: 90%;
    right: 20%;
    left: 80%;
  }

  .aboutimg{
      display: flex;
      max-width: 100%;
      height: auto;
      top: 15%;
      right: 20%;
      left: 80%;
  }

  .textpp {
    top: 18%;
    left: 5%;
    right: 5%;
    position: absolute;
  }

  .main-header {
    top: 0%;
    left: 5%;
    position: absolute;
  }

  h3{
    text-shadow: 2px 2px 5px rgb(0, 255, 47);
    font-size: 30px;
  }

  /*FOOT ------------------------------------------------------*/

  .logoimgfoot {
    display: flex;
    max-width: 100%;
    max-height: 100%;
    position:sticky;
  }

  .mainfoot {
    background-color: rgb(0, 95, 11);
    color: white;
    top: 415%;
    left: 0;
    bottom: 0;
    width: 100%;
    position: absolute;
    
  }

  .divfoot {
    background-color: rgb(0, 95, 11);
    height: 80px;
    display: flex;
    flex-wrap: nowrap;
  }

  .tablefoot {
    width: 40%;

  }

  /* navi bar--------------------------------------------*/

  #nav1{
    background-color: rgb(0, 95, 11);
    height: 80px;
    display: flex;
    position:sticky;
    top: 0%;
    left: 0%;
  }

  /* LOGO LINKS ----------------------------------------*/

  .divfoottext {
    position: absolute;
    position:sticky;
    text-align:center;
  }

  .Copyright© {
  left: 50%;
  }
  