body {
    background-color: rgb(24, 24, 24);
}

#myVideo {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    -o-filter: blur(5px);
    filter: blur(5px);
  }

  /*.logo {
    position: absolute;
    color: white;
    background-color: blue;
    left: 9%;
    top: 15px;
    right: auto;
  } */

  .logoimg {
    position: absolute;
    top: 25%;
    left: 25%;
  }

  .textbox{
    position: absolute;
    /*left: 16%;*/
    background-color: rgba(135, 72, 144, 0.6);
    border-radius: 5px;
    z-index: 1;
    width: 70%;
    height: 50%;
    top: 750px;
    margin-left: auto; 
    margin-right: auto;
    padding: 10px;
    display: flex;
  }

/*   FLEX STUFF    */
  .flextext {
    display: flex;
    justify-content: center;
  }

  .flexpage {
    display: flex;
    justify-content: center;
  }



/*   FLEX STUFF END   */


  .pagesep {
    top: 690px;
    left: auto;
    right: auto;
    z-index: 0;
    margin-left: auto; 
    margin-right: auto;
    position: absolute;
  }