body {
    background-color: rgb(24, 24, 24);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0px;
    background-color: rgba(88, 91, 88, 0.627);
    display: flex;
    align-items: center;
    z-index: 100;
}

#logo2{
    max-width: 25%;
    max-height: 25%;
    right: 15px;
}

#logo1{
    right: 15px;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
  }